aside {
    background-color: rgb(228, 227, 227);
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
    height: 100vh;
    z-index: 1000;
}

.col button {
    width: 100%;
    margin-top: 10px;
}

.renderadmin {
    padding-top: 80px;
    width: 90%;
    height: 100vh;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.seccion button {
    width: 100px;
    margin-right: 10px;
}

.seccion button svg {
    margin-right: 5px;
    margin-bottom: 2px;
}
.btn{
    height: 30px;
}