

<div class="container-fluid animate__animated animate__fadeInLeft  animate__faster	500ms ">
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <div class="input-group flex-nowrap buscarusuario mb-3">
                <input type="text" name="fil" class="form-control" placeholder="Buscar Usuario" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="fil">

            </div>
        </div>

    </div>
    <div class="row">
        <span class="separar"></span>
    </div>


    <div class="row d-flex flex-row justify-content-center">

        <div class="d-flex flex-row">
            <span class="buscarpor"> <p>Filtrar puesto por:</p></span>
            <div class="form-group form-check mr-5">
               <!--  <input type="checkbox" class="form-check-input"  [disabled]="disabledAdmin">
                <label class="form-check-label" for="exampleCheck1">Administrador</label> -->
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios"  [disabled]="disabledRadio" [(ngModel)]="chkAdmin" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                       Administración
                    </label>
                </div>
            </div>
            <div class="form-group form-check mr-5">
               <!--  <input type="checkbox" class="form-check-input"  [disabled]="disabledRecep">
                <label class="form-check-label" for="exampleCheck1">Recepción</label> -->
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" [disabled]="disabledRadio" [(ngModel)]="chkRecep" id="exampleRadios2" value="option2" checked>
                    <label class="form-check-label" for="exampleRadios2">
                      Recepción
                    </label>
                </div>  
            </div>
            <div class="form-group form-check mr-5">
               <!--  <input type="checkbox" class="form-check-input"[disabled]="disabledWare">
                <label class="form-check-label" for="exampleCheck1">Almacen</label> -->
                            
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" [disabled]="disabledRadio" [(ngModel)]="chkWare"  id="exampleRadios3" value="option3" checked>
                    <label class="form-check-label" for="exampleRadios3">
                      Almacen
                    </label>
                </div>
            </div>
        </div>

        <button (click)="filter()" type="button" id="btnFiltrar" [ngStyle]="{ 'display': btnFilter }" class="btn btn-sm btn-success text-capitalize">Filtrar</button>
        <button (click)="reverse()" type="button" id="btnReversa" [ngStyle]="{ 'display': btnReverse }" class="btn btn-sm btn-danger text-capitalize">regresar</button>

        <cdk-virtual-scroll-viewport itemSize="60" class="scroll">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                       
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Fecha de Creación</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let i of usersList  | filtrar:fil">
                       
                        <td> {{ i.name }} </td>
                        <td>{{ i.email }}</td>
                        <td> {{ i.roll }} </td>
                        <td>{{ i.created_at | date:'M/d/yy' }}</td>
                       
                        <td><button title="Eliminar" type="button" class="btn btn-danger mr-1" (click)="preDeleteUser(i.id)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                    </svg></button><button title="Actualizar" type="button" class="btn btn-primary" (click)="sendUserToUpdate(i.id)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg></button></td>
                    </tr>
                </tbody>
           <!--      <tbody *ngIf="chkRecep || chkAdmin || chkWare || stateSearch">
                    <tr *ngFor="let i of filteredList ">
                        <th scope="row">1</th>
                        <td> {{i.nombre}} </td>
                        <td>{{i.correo}}</td>
                        <td> {{ i.puesto}} </td>
                        <td><button title="Eliminar" type="button" class="btn btn-danger mr-1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                    </svg></button><button title="Actualizar" type="button" class="btn btn-primary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg></button></td>
                    </tr>
                </tbody> -->
            </table>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
